div.breadcrumbs
	a.breadcrumbs__link(href="/")
		| Главная
	span.arrow &gt;
	a.breadcrumbs__link(href="/")
		| Каталог
	span.arrow &gt;
	a.breadcrumbs__link(href="/")
		| iPad Air Wi-Fi + Cellular 128GB - Silver